/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.background {
  background-image: var(--bg-gradient-color);
  background-size: cover;
  background-attachment: fixed;
}

.page {
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--normal-weight);
  margin-block-start: 100px;
  margin-inline-start: var(--margin-clamp);
  margin-inline-end: var(--margin-clamp);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 128px;
  padding-block-end: 128px;
  min-inline-size: clamp(375px, 100%, 700px);
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  border: var(--border);
  background-color: var(--white);
  margin-block-end: 100px;
}

.title {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  margin-block-end: 20px;
}

.subject {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  margin-bottom: 50px;
  min-inline-size: clamp(375px, 100%, 700px);
  max-inline-size: 696px;
}

.watermark {
  position: absolute;
  right: 20px;
  top: 25px;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px var(--white);
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.watermark-uppercase {
  text-transform: uppercase;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
    -webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    text-shadow: none;
  }
}

.card {
  border: var(--border);
  background-color: var(--white);
}

.subtitle {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-variation-settings: "wght" var(--bold-weight);
  font-size: var(--font-size-l);
  line-height: 1.7;
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-wrap {
  position: relative;
  border: var(--border);
  block-size: 696px;
}

.text {
  display: grid;
  gap: 27px;
  line-height: 21px;
  padding-top: 28px;
  padding-right: 21px;
  padding-left: 25px;
  padding-bottom: 27px;
}

.paragraph {
  font-size: var(--font-size-l);
}

.wrap {
  display: flex;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button {
  position: relative;
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-m);
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  color: var(--black);
  transition: color 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--black);
  transition: left 0.5s ease-in-out;
  z-index: 0;
}

.button__text {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
}

.button:hover::before {
  left: 0;
}

.button:hover .button__text {
  color: var(--white);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 rgb(0 0 0);
}

.button-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 37px;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.button-heart:focus {
  outline: none;
}

.button-heart:focus-visible {
  box-shadow: inset 0 0 0 2px var(--black);
}

.button-like {
  inline-size: 130px;
  block-size: 38px;
  margin-inline-start: 5px;
}

.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 335px;
  block-size: 51px;
  background-color: var(--white);
}

.wrap-button-save {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.button-save svg {
  position: relative;
  z-index: 1;
  transition: filter 0.5s ease-in-out;
  inline-size: 21px;
  aspect-ratio: 1;
  margin-inline-end: 10px;
}

.button-save:hover svg {
  filter: invert(1);
}

dialog[open] {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  inline-size: 357px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-content {
  display: flex;
  align-items: center;
  padding-block-start: 17px;
  padding-block-end: 28px;
}

.dialog-subject {
  inline-size: 234px;
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-m);
  text-transform: uppercase;
  line-height: 150%;
}

.dialog-content svg {
  inline-size: 39px;
  aspect-ratio: 1;
  margin-inline-end: 20px;
}

.button-ok {
  inline-size: 293px;
  block-size: 38px;
  text-transform: uppercase;
  margin-block-end: 12px;
}

/* Filters */
.contrast {
  filter: contrast(20%);
}

.blur {
  filter: blur(7px);
}

.grayscale {
  filter: grayscale(100%);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

.invert {
  filter: invert(0.7);
}

.grayscale-blur-brightness {
  filter: grayscale(70%) blur(7px) brightness(170%);
}

/* heart animation */
.like-icon.is-liked .heart {
  animation: animation-scale 0.3s linear 0.1s;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: animation-sparks 0.3s linear 0.3s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.06s;
}

@media (width <= 375px) {
  .page {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .header {
    inline-size: 100%;
    padding-block-start: 120px;
    padding-block-end: 120px;
  }

  .watermark {
    right: 10px;
    top: 20px;
  }

  .content {
    inline-size: 100%;
  }

  .image-wrap {
    block-size: 375px;
  }

  .subtitle {
    line-height: inherit;
    padding-block-start: 5px;
    padding-block-end: 5px;
  }

  .text {
    padding-top: 25px;
    padding-right: 26px;
    padding-bottom: 0;
  }

  .wrap {
    margin-block-start: 25px;
    margin-block-end: 25px;
    margin-inline-end: 25px;
  }

  .special-paragraf {
    padding-inline-end: 5px;
  }

  .button-save {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .button-save svg {
    inline-size: 28px;
    aspect-ratio: 1;
    margin-inline-end: 0;
    margin-block-end: 10px;
  }

  dialog[open] {
    inline-size: 341px;
  }

  .dialog-content {
    padding-block-start: 13px;
    padding-block-end: 28px;
    padding-inline-start: 33px;
  }

  .button-ok {
    inline-size: 257px;
  }
}
